.error_div {
  margin: 80px auto 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error_div img {
  max-width: 100%;
  width: 128px;
  height: 128px;
}

.errorTitle {
  font-family: var(--main-font);
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 24px;
}

.errorInfo {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  white-space: pre-line;
  line-height: 20px;
  margin-top: 8px;
}

.errorLink {
  font-family: var(--main-font);
  font-size: 100%;
  font-style: inherit;
  color: #1f2026;
  margin-top: 16px;
  border: none;
  border-radius: 12px;
  min-height: 48px;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: initial;
  background-color: rgb(230, 232, 237);
}

.errorLink:hover, .errorLink:active{
  background-color: rgb(190, 194, 206);
}

/*1200, 992, 768, 576*/
@media (max-width: 1200px) {

  
}

@media(max-width: 992px) {
  

}

@media (max-width: 768px) {


}

@media (max-width: 576px) {


}

