* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
}

.basket_div {
  margin: 280px auto 0;
  width: 545px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.basket_div_for_img {
  width: 134px;
  height: 134px;
  margin-bottom: 20px;
}

.basket_div_for_img img {
  width: 134px;
  height: 134px;
}

.basket_h1 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 32px;
  color: #000000;
  margin-bottom: 11px;
}

.basket_p {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #000000;
}

.basket_products_h1 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 32px;
  color: #000000;
  margin: 52px 0 31px;
}

.basket_products_div {
  display: flex;
  gap: 17px;
}

.basket_products {
  width: 900px;
  height: 650px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.basket_products_img{
  width: 143px;
  height: 187px;
}

.basket_products_img img{
  width: 134px;
  height: 187px;
}

.basket_products::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.basket_products_price {
  width: 418px;
  height: 265px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px;
}

.general_price {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 23px;
}

.total_items,
.total_discounts {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 9px;
}

.checkout_button {
  width: 90%;
  height: 32px;
  border-radius: 4px;
  border: none;
  background-color: #7000ff;
  font-family: var(--main-font);
  font-weight: 500;
  font-style: Medium;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  margin-top: 30px;
  transition: .7s;
  cursor: pointer;
}

.checkout_button:hover {
  border: 1px solid #7000ff;
  background-color: #ffffff;
  color: #7000ff;
}

.basket_product {
  width: 730px;
  border: none;
  margin: 10px 0 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.productTitle {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin: 25px 0 9px;
}

.productPrice {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 9px;
}

.button_amount {
  width: 89px;
  height: 30px;
  border-radius: 3px;
  color: #000000;
  border: 1px solid #acacac;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.button_amount .minus,
.button_amount .plus {
  cursor: pointer;
}

.buttonDelete {
  width: 80px;
  height: 32px;
  border-radius: 4px;
  background-color: #eaeaf9;
  color: #3333cc;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 25px;
  border: none;
  cursor: pointer;
  transition: .7s;
}

.buttonDelete:hover {
  border: 1px solid #3333cc;
  background-color: #ffffff;
  color: #3333cc;
}
