.category-title {
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: bold;
  margin: 20px 20px 20px 0;
}

.emptyText {
  font-family: var(--main-font);
  font-size: 32px;
  margin: 50px 0;
  font-weight: 700;
  text-align: center;
  color: #000;
}

/*992, 768, 576*/

@media (max-width: 992px) {
  .emptyText,
  .category-title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .emptyText,
  .category-title {
    font-size: 26px;
  }

  .product-container{
    margin-bottom: 100px;
  }
}

@media (max-width: 576px) {
  .emptyText,
  .category-title {
    font-size: 24px;
  }
}
