.favorite-div {
  margin: 200px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 457px;
}

.for_image {
  width: 134px;
  height: 134px;
  margin-bottom: 20px;
}

.for_image img {
  width: 134px;
  height: 134px;
}

.favorite_div_h1 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 11px;
  white-space: nowrap;
}

.favorite_div_p {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.favorite_h1 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 32px;
  color: #000000;
  margin: 22px 0 10px;
}

/*1200, 992, 768, 576*/
@media (max-width: 1200px) {
  .favorite_h1 {
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  .favorite-div {
    margin: 180px auto 0;
    width: 420px;
  }

  .for_image,
  .for_image img {
    width: 128px;
    height: 128px;
    margin-bottom: 10px;
  }

  .favorite_div_h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .favorite_div_p {
    font-size: 13px;
  }

  .favorite_h1 {
    font-size: 26px;
    margin: 20px 0 10px;
  }
}

@media (max-width: 768px) {
  .product-container{
    margin-bottom: 100px;
  }

  .favorite-div {
    width: 380px;
  }
  
  .for_image,
  .for_image img {
    width: 120px;
    height: 120px;
    margin-bottom: 8px;
  }

  .favorite_div_h1 {
    font-size: 26px;
    margin-bottom: 8px;
  }

  .favorite_div_p {
    font-size: 12px;
  }

  .favorite_h1 {
    font-size: 24px;
    margin: 18px 0 8px;
  }
}

@media (max-width: 576px) {
  .product-container {
    margin-top: 10px;
  }

  .favorite-div {
    width: 360px;
  }
  
  .for_image,
  .for_image img {
    width: 100px;
    height: 100px;
    margin-bottom: 6px;
  }

  .favorite_div_h1 {
    font-size: 22px;
    margin-bottom: 6px;
  }

  .favorite_div_p {
    font-size: 10px;
  }

  .favorite_h1 {
    font-size: 22px;
    margin: 16px 0 6px;
  }
}
