.favorite-div {
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 457px;
}

.for_image {
  width: 134px;
  height: 134px;
  margin-bottom: 20px;
}

.for_image img {
  width: 134px;
  height: 134px;
}

.favorite_div_h1 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 11px;
  white-space: nowrap;
}

.favorite_div_p{
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.favorite_h1 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 32px;
  color: #000000;
  margin: 22px 0 10px;
}

