img {
  max-width: 100%;
}

#info_section {
  margin-top: 50px;
  display: flex;
}

.image_container {
  display: flex;
}

.image_slider {
  width: 83px;
  height: 505px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE 10+ */
}

.image_slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.image_div {
  width: 100%;
  height: 111px;
  margin-bottom: 6px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.7s;
}

.image_div img {
  width: 83px;
  height: 111px;
  object-fit: contain;
  flex-shrink: 0;
}

.image_div.active {
  border: 1px solid black;
}

.image_base {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 470px;
  height: 505px;
  margin-left: 7px;
  position: relative;
}

.image_base img {
  width: 470px;
  height: 505px;
  object-fit: cover;
}

.slider__btn {
  width: 30px;
  height: 30px;
  background-color: rgba(128, 128, 128, 0.128);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  border: none;
}

.slider__btn img {
  width: 15px;
  height: 15px;
}

.slider__btn--prev {
  left: 10px;
}

.slider__btn--next {
  right: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 55px;
}

.title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 32px;
  color: #000000;
  margin: 34px 0 26px;
}

.price {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 28px;
  color: #000000;
  margin-bottom: 26px;
}

.oldPrice,
.oldPriceMobile {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 21px;
  text-decoration: line-through;
  color: #acacac;
  margin-left: 15px;
}

.button_amount {
  width: 89px;
  height: 30px;
  border-radius: 3px;
  color: #000000;
  border: 1px solid #acacac;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.button_amount .minus,
.button_amount .plus {
  cursor: pointer;
}

.line {
  border: 1px solid #acacac;
  margin-bottom: 26px;
}

.description {
  width: 600px;
  margin-bottom: 26px;
}

.description p {
  color: #000000;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 7px;
}

.btn {
  padding: 8px 26px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  transition: 0.7s;
  background-color: #7000ff;
  color: #ffffff;
}

.btn_basket:hover,
.btn_favorites:hover {
  border: 1px solid #7000ff;
  background-color: #ffffff;
  color: #7000ff;
}

.btn_favorites.active {
  border: 1px solid #7000ff;
  background-color: #ffffff;
  color: #7000ff;
}

.full_description {
  margin-top: 80px;
}

.desc_div {
  margin: 0 auto;
  width: 800px;
}

.desc_div h4 {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 21px;
  color: #000000;
  margin-bottom: 21px;
}

.desc_div p {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

#similar-products-container {
  margin-top: 80px;
}

.similarHead {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 32px;
  color: #000000;
  margin-bottom: 31px;
}

.deskButton {
  align-items: start;
  width: 150px;
  min-height: 30px;
  border: 2px solid #000000;
  border-radius: 15px;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  font-family: var(--main-font);
  font-weight: 500;
  transition: all 0.7s ease;
  margin-top: 10px;
}

.deskButton:hover,
.deskButton:active {
  background-color: #ffffff;
  color: #000000;
}

/*1200, 992, 768, 576*/
@media (max-width: 1200px) {
  .info {
    margin-left: 20px;
    width: 320px;
  }

  .image_base {
    width: 450px;
    max-height: 500px;
    height: 100%;
  }

  .title {
    font-size: 24px;
  }

  .price {
    font-size: 32px;
    white-space: nowrap;
  }

  .button_amount {
    width: 80px;
  }

  .description {
    display: none;
  }

  .buttons {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .btn {
    width: 70%;
  }

  .similarHead {
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  #info_section {
    margin-top: 20px;
  }

  .image_slider {
    display: none;
  }

  .image_base {
    margin: 0;
  }

  .info {
    margin-left: 10px;
  }

  .price {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #7e818c;
    border-radius: 8px;
    padding: 10px 15px;
  }

  .oldPrice {
    margin: 0;
  }

  .button_amount {
    width: 100%;
  }

  .title {
    font-size: 30px;
    margin: 0;
  }

  .btn {
    width: 100%;
  }

  .full_description {
    margin-top: 50px;
  }

  .full_description p {
    width: 700px;
  }

  .similarHead {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .container {
    background-color: #fff;
  }

  #info_section {
    flex-direction: column;
  }

  .info{
    margin: 0;
  }

  .oldPrice,
  .btn_favorites,
  .line {
    display: none;
  }

  .title {
    font-size: 24px;
  }

  .image_base {
    width: 100%;
    max-height: 500px;
    height: 100%;
  }

  .image_base img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .slider__btn img {
    width: 15px;
    height: 15px;
  }

  .price {
    margin-top: 24px;
    color: #7000ff;
    font-size: 34px;
    margin: 0;
    border: none;
    padding: 0;
  }

  .desc_div {
    width: 500px;
  }

  .full_description p {
    width: 500px;
  }

  .similarHead {
    font-size: 24px;
  }

  .price_div {
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 10px 0;
  }

  .price {
    font-size: 32px;
  }

  .oldPriceMobile {
    font-size: 26px;
    margin: 0;
  }

  .reviews_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
    margin: 10px 0;
    border: 1px solid #acacac;
    border-radius: 8px;
    padding: 10px 15px;
  }

  .reviews_info div {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 8px;
  }

  .rating_reviews {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    color: #7e818c;
  }

  .rating_info {
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
    color: #7e818c;
  }

  .bottomDiv {
    position: fixed;
    z-index: 4;
    bottom: 0;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    min-height: 50px;
    gap: 20px;
  }

  .button_amount {
    width: 50%;
    height: 100%;
    margin: 0;
  }

  .btn_basket {
    width: 50%;
    height: 90%;
  }

  .heart_info {
    top: 5px;
    right: 8px;
  }

  .heart_info svg {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 576px) {
  .container {
    background-color: #ffffff;
  }

  .info {
    margin: 0;
  }

  .image_base {
    width: 100%;
    height: 450px;
    margin: 0;
  }

  .image_base img {
    width: 100%;
    height: 450px;
  }

  .slider__btn img {
    width: 15px;
    height: 15px;
  }

  .title {
    font-size: 22px;
    margin: 20px 0 10px;
  }

  .full_description {
    margin-top: 30px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }

  .full_description.show {
    max-height: 500px;
    opacity: 1;
  }

  .desc_div {
    width: 400px;
    margin: 0;
  }

  .desc_div h4 {
    margin-bottom: 14px;
    font-size: 20px;
  }

  .desc_div p {
    font-size: 14px;
    transition: all 0.9s ease;
  }

  #similar-products-container {
    margin-top: 30px;
  }

  .similarHead {
    font-size: 22px;
  }

  .bottomDiv {
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #fff;
    min-height: 40px;
    gap: 10px;
  }

  .button_amount {
    width: 50%;
    height: 100%;
    margin: 0;
  }

  .btn_basket {
    width: 50%;
    height: 90%;
  }

  .heart_info {
    top: 0;
    right: 0;
  }
}
