img {
  max-width: 100%;
}

#info_section {
  margin-top: 50px;
  display: flex;
}

.image_container {
  display: flex;
}

.image_slider {
  width: 83px;
  height: 505px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE 10+ */
}
.image_slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.image_div {
  width: 100%;
  height: 111px;
  margin-bottom: 6px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.7s;
}

.image_div img {
  width: 83px;
  height: 111px;
  object-fit: contain;
  flex-shrink: 0;
}

.image_div.active {
  border: 1px solid black;
}

.image_base {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 470px;
  height: 505px;
  margin-left: 7px;
  position: relative;
}

.image_base img {
  width: 470px;
  height: 505px;
  object-fit: cover;
}

.slider__btn {
  width: 30px;
  height: 30px;
  background-color: rgba(128, 128, 128, 0.128);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  border: none;
}

.slider__btn img {
  width: 15px;
  height: 15px;
}

.slider__btn--prev {
  left: 10px;
}

.slider__btn--next {
  right: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 55px;
}

.title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 32px;
  color: #000000;
  margin: 34px 0 26px;
}

.price {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 28px;
  color: #000000;
  margin-bottom: 26px;
}

.oldPrice {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 21px;
  text-decoration: line-through;
  color: #acacac;
  margin-left: 15px;
}

.button_amount {
  width: 89px;
  height: 30px;
  border-radius: 3px;
  color: #000000;
  border: 1px solid #acacac;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.button_amount .minus,
.button_amount .plus {
  cursor: pointer;
}

.line {
  border: 1px solid #acacac;
  margin-bottom: 26px;
}

.description {
  width: 600px;
  margin-bottom: 26px;
}

.description p {
  color: #000000;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 7px;
}

.btn {
  padding: 8px 26px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  transition: 0.7s;
  background-color: #7000ff;
  color: #ffffff;
}

.btn_basket:hover,
.btn_favorites:hover {
  border: 1px solid #7000ff;
  background-color: #ffffff;
  color: #7000ff;
}

.btn_favorites.active {
  border: 1px solid #7000ff;
  background-color: #ffffff;
  color: #7000ff;
}

.full_description {
  margin-top: 80px;
}

.desc_div {
  margin: 0 auto;
  width: 800px;
}

.desc_div h4 {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 21px;
  color: #000000;
  margin-bottom: 21px;
}

.desc_div p {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

#similar-products-container {
  margin-top: 80px;
}

.similarHead {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 32px;
  color: #000000;
  margin-bottom: 31px;
}
